// -------- Colors -----------
@primary-color: #959db4;

// Shadows
@shadow-3: 0 1px 3px 0 fade(@black, 10%);

// Layout
@layout-body-background: #f0f2f5;
@layout-header-background: @white;
@layout-header-height: 64px;
@layout-header-padding: 0 16px;
@layout-header-color: @text-color;
@layout-footer-padding: 16px;
@layout-footer-background: @layout-body-background;
@layout-sider-background: #2f3442;

// Menu
@menu-dark-bg: @layout-sider-background;