@import 'fonts.less';

/*! purgecss start ignore */
/*! purgecss end ignore */

// Ant Design

@import '~antd/lib/style/index.less';
@import 'antd-components.less';
@import 'antd-custom.less';

// Full Calendar

@import (inline) '~@fullcalendar/core/main.css';
@import (inline) '~@fullcalendar/timegrid/main.css';


[class^="fc-"] {
  border-color: #e8e8e8 !important;
}
.fc-today {
  background-color: @primary-1 !important;
}
.fc-event {
  cursor: pointer;
  background-color: @primary-color !important;
  &.fc-short .fc-title {
    font-size: 1em !important;
  }
  &.fc-external {
    padding: 4px 6px;
  }
}

@import 'style.less';