:global {

body {
  background-color: #f0f2f5;
  font-family: 'Open Sans', sans-serif;
}

// General

.wrapper {
  overflow-x: hidden;
}

.pane {
  background-color: #fff;
  box-shadow: @shadow-3;
  border-radius: 4px 4px 0 0;
}

// Layout

.page-layout {
  transition: .3s;
  transition-property: margin, transform;
}

.page-sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  height: 100vh;
  overflow: auto;
  transition: transform .3s;
  &.collapsed {
    transform: translate(-100%);
  }
  &:not(.collapsed) + .page-layout {
    margin-left: 250px;
  }
  &_logo {
    color: #fff;
    line-height: 32px;
    text-align: center;
    font-variant: small-caps;
    font-size: 24px;
    padding: 0 16px;
    margin: 16px 16px 12px;
  }
}

.page-header {
  display: flex;
  align-items: center;
  box-shadow: @shadow-3;
  h2 {
    margin: 0 24px;
  }
  &_user-menu {
    margin-left: auto;
    span {
      font-weight: 600;
      margin-left: 16px;
    }
  }
}

.page-footer {
  font-size: 12px;
  text-align: center;
}

.page-content {
  margin: 24px auto 0;
  min-height: calc(100vh - 138px);
  width: 864px;
  max-width: 100%;
  padding: 24px;
  overflow: initial;
  .pane();
}

@media screen and (max-width: @screen-lg-max) {
  .page-sidebar {
    &:not(.collapsed) + .page-layout {
      margin-left: 0;
      height: 100vh;
      overflow: hidden;
      opacity: .3;
      transform: translate(250px);
      * {
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  .pane {
    border-radius: 0;
  }

  .page-content {
    padding: 8px;
    margin-top: 16px;
    .pane();
  }
}

}