:global {

body {
  background-color: #f0f2f5;
  font-family: 'Open Sans', sans-serif;
}

// General

.wrapper {
  overflow-x: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.abs-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  .layer();
}

.pane {
  background-color: #fff;
  box-shadow: @shadow-3;
  border-radius: 4px;
  padding: 24px;
}

.icon-primary {
  color: @primary-color;
}

.text-over-line {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin: 15px 0;
  span {
    .abs-middle();
    background-color: #fff;
    padding: 0 5px;
  }
}

// Layout

.page-layout {
  background-color: #f0f2f5;
  min-height: 100vh;
  &.dark {
    position: relative;
    background-color: @base-color-2;
    &::before {
      .layer();
      content: '';
      background-image: url('../img/ocean.jpg');
      background-size: cover;
      background-position: center;
      opacity: .15;
    }
  }
}

.page-sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  height: 100vh;
  overflow: auto;
  transition: 0s;
  &.collapsed {
    transform: translate(-100%);
  }
  &:not(.collapsed) + .page-layout {
    margin-left: 250px;
  }
  &_logo {
    margin: 88px 16px 12px;
    img {
      width: 100%;
    }
  }
  &_menu {
    font-family: 'Open Sans Condensed';
    text-align: center;
    a {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: @shadow-3;
  position: fixed;
  left: 0;
  z-index: 9;
  width: 100%;
  h2 {
    margin: 0 24px;
  }
  &_user-menu {
    margin-left: auto;
    span {
      margin-left: 16px;
    }
  }
  &_user-link {
    color: @heading-color !important;
    font-weight: 400;
  }
}

.page-footer {
  font-size: 12px;
  text-align: center;
}

.page-content {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 138px);
  padding: 24px 24px 0;
  margin: 64px auto 0;
  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Layout transitions

.page-transition-enter-done {
  .page-layout {
    transition: margin .3s, transform .3s;
  }
  .page-header {
    transition: padding .3s;
  }
  .page-sidebar {
    transition: transform .3s;
  }
}

// Sign in

.login {
  &-form {
    width: 100%;
    max-width: 400px;
    margin-top: 80px;
    position: relative;
    &_alert {
      margin-bottom: 16px;
    }
    &_logo {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -111%);
      width: 140px;
      img {
        width: 100%;
      }
    }
    h3 {
      text-align: center;
    }
    &_forgot {
      float: right;
    }
    &_register {
      text-align: center;
    }
    &_button {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

// Courses

.course-list {
  &_item {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border .3s;
    &.active {
      border-color: @base-color-2;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    img {
      flex-shrink: 0;
      width: 118px;
      height: 118px;
      object-fit: cover;
      margin-right: 16px;
      border-radius: 2px;
    }
  }
}

.course-list_item,
.course-active {
  h4,h2 {
    font-size: 18px;
    margin-top: 8px;
    & ~ div {
      margin-bottom: 4px;
    }
  }
}

.course-active {
  img {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  strong {
    font-weight: 600;
  }
  &_info {
    display: flex;
    :last-child {
      margin-left: 16px;
    }
  }
  &_summary {
    margin-top: 24px;
  }
  &_weight {
    margin-left: 16px;
  }
  &_progress {
    position: relative;
    margin-top: 8px;
    padding: 24px 24px 24px 90px !important;
    div {
      background-color: @primary-color;
      height: 4px;
      border-radius: 4px;
      transition: width .3s;
      span {
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
        color: @base-color-2;
        font-size: 12px;
      }
    }
  }
}

.courses-explore {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 24px;
    li {
      a {
        color: @base-color-3;
        &:hover span {
          text-decoration: underline;
        }
      }
    }
  }
}

// Entry Test

.entry-test {
  &_question {
    margin-top: 24px;
    h4 {
      font-weight: normal;
      max-width: 440px;
    }
    &.disabled {
      opacity: .4;
      pointer-events: none;
    }
    .ant-cascader-picker {
      display: block;
      width: 350px;
      max-width: 100%;
      margin-bottom: 8px;
    }
  }
  &_next {
    margin-top: 24px;
  }
}

// Mentors

.mentors {
  & > h4 {
    margin-bottom: 8px;
  }
  &_find {
    margin: 8px 0 24px;
  }
  &_person {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    img {
      width: 60px;
      border-radius: 50%;
      margin-bottom: 8px;
    }
    h4 {
      font-weight: normal;
      font-size: 18px;
      strong {
        font-weight: bold;
      }
      & + span {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

.challenges {
  & > h4 {
    margin-bottom: 8px;
  }
  &_list {
    margin: 8px 0 0;
  }
  &_active {
    display: flex;
    margin-bottom: 8px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 2px;
      flex-shrink: 0;
      margin-right: 16px;
    }
    &-inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      h4 {
        width: 100%;
        font-weight: normal;
        font-size: 18px;
        strong {
          font-weight: bold;
        }
        & + div {
          margin-right: auto;
        }
      }
    }
  }
}

// Media

@media screen and (max-width: @screen-sm-max) {
  .hidden-sm {
    display: none;
  }

  .pane {
    padding: 8px;
  }

  .page-content {
    margin-top: 64px;
    padding: 8px 8px 0;
  }

  .daily-plan,
  .course-list {
    margin-bottom: 8px;
  }
  .course-active_progress {
    margin: 8px 0 16px;
  }
  .courses-explore {
    ul {
      margin-top: 16px;
    }
  }
}

@media screen and (max-width: @screen-lg-max) {
  .page-sidebar {
    &:not(.collapsed) + .page-layout {
      margin-left: 0;
      height: 100vh;
      overflow: hidden;
      opacity: .3;
      transform: translate(250px);
      * {
        pointer-events: none;
      }
    }
  }
}

@media screen and (min-width: @screen-md) {
  
}

@media screen and (min-width: @screen-xl) {
  .page-sidebar {
    &:not(.collapsed) + .page-layout {
      .page-header {
        padding-left: 275px;
      }
    }
  }
}

}