@function str-remove-whitespace($str) {
  @while (str-index($str, ' ') != null) {
    $index: str-index($str, ' ');
    $str: "#{str-slice($str, 0, $index - 1)}#{str-slice($str, $index + 1)}";
  }
  @return $str;
}

@mixin font-face($family, $source, $weight, $style: normal) {
  $path: '/fonts/#{$source}-#{$weight}';
  $weight-name: map-get($font-weight, $weight);
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url('/fonts/#{$source}.eot'); /* IE9 Compat Modes */
    src: local('#{$family} #{$weight-name}'), 
         local('#{str-remove-whitespace($family)}-#{$weight-name}'), 
         url('#{$path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$path}.woff2') format('woff2'), /* Super Modern Browsers */
         url('#{$path}.woff') format('woff'), /* Modern Browsers */
         url('#{$path}.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$path}.svg##{$family}') format('svg'); /* Legacy iOS */ 
  }
}

@each $weight in 300, 400, 600, 700 {
  @include font-face('Open Sans', 'open-sans-v17-latin', $weight);
}