// Fonts
$font-weight: (
  300: 'Light', 
  400: 'Regular', 
  500: 'Medium', 
  600: 'Semibold', 
  700: 'Bold'
);
$font-sen: 'Sen', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
// Colors
$red: #bf1e2e;
$grey: #505050;
$green: #b4d240;
$yellow: #ffcc00;